*
!.gitignore
!MUI_Core/
!MUI_Core/**
!MUI_Config/
!MUI_Config/**
!MUI_Setup/
!MUI_Setup/**
!Bartender4/
!Bartender4/**
!Grid2/
!Grid2/**
!Grid2Options/
!Grid2Options/**
!Grid2LDB/
!Grid2LDB/**
!Masque/
!Masque/**
!ShadowedUnitFrames/
!ShadowedUnitFrames/**
!ShadowedUF_Options/
!ShadowedUF_Options/**
!\!KalielsTracker/
!\!KalielsTracker/**
